<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <div class="nav__content">
        <!-- <div class="logo"><pre><b></b></pre></div> -->
        <ul>
          <li><a href="#" target="_top">Home</a></li>
          <li><a href="#about">About</a></li>
          <!-- <li><a href="#projects">Projects</a></li> -->
          <li><a href="#contacts">Contact</a></li>
          <li><a href="index.html">Prediction</a></li>
          <li><a href="#login">Signup/Signin</a></li>
        
        </ul>
      </div>
    </nav>
    <section class="section">
        <div class="section__container">
          <div class="content">
          </div>
        </div>
    </section>
    <!-- <footer style="color:grey;text-align: right;">&#169 Copyright 2024 All Rights Reserved by Group2@MCA'24</footer>  -->
</body>
</html>